{
  "extends": [
    "wesbos/typescript"
  ],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "semi": false,
        "singleQuote": true,
        "trailingComma": "es5"
      }
    ]
  }
}